$FabianColorOne: silver;
$FabianFontOne:'Baloo Bhai', cursive;

#Fabian {
	
	#Fabian1 {
		font-family:$FabianFontOne; 
		text-decoration: none;
	}

	#Fabian2 {
		color:$FabianColorOne;
		text-decoration: none;
	}	
}



#FabianHeading1  {
	font-size: 7vw;
	color:green;
}

#FabianHeading2 {
	@extend #FabianHeading1;

	border:1px solid black;

}



